h3{
  background-color: #8ED2C9;
  font-family:  'Courier New', Courier, monospace;
  font-size: 100px;
  text-align: center;
  padding: 40px;
  line-height : 60px;
}
li{
  text-align : center;
}
#fondo{
    background-image: url(../img/white-wood.jpg);
    border:1px solid palevioletred;
  }
  
  .cuentos a {
    display: block;
    min-width: 200px;
    line-height : 50px;
    text-align : center;
    text-decoration : underline;
    text-transform: uppercase;
    text-indent: 150px;
    color:blue;
    text-align: center;
    font-family:  'Courier New', Courier, monospace;
    font-size: 30px;
  }
  