body{
    background-color: #FCF4D9;
    color: #462066;
    
}
p{
   margin: 20px 0 20px 5px;
    background-color: orchid;
}
h1{
    background-color: #462066;
    color:aqua;
}
h2{
    color:brown;
    background-color: aqua;
}
ol{
    background-color:#0093D1;
    color: palevioletred;
}

ul{
    background-color:#F4D00C;
    color:black;
}
d1{
    background-color:#006495;
    color:#6F3662;
}

h1,h2,strong{
    background-color:pink;
   /* font: bold 50px monospace;*/
   
}
.presentacion{
    background-color:palevioletred;
}
#conclusion{
    background-color:palevioletred;
}
.resaltado{
    font-size: 50px;
    background-color:red;
    width: 50px ;
}
.principal{
    
    background-color:yellow;
}
.conflicto{
    
    background-color:palevioletred;
 /*
    padding-top: 50px ;
    padding-bottom: 30px;
    padding-right: 60px;
    padding-left:  120px;
    
    padding: 50px 60px 30px 120px;

   padding: 50px 150px;
  
    border-top-color: blue;
    border-top-style: dotted;
    border-top-width: 50px;

    border-bottom: palevioletred solid 80px;
    border-right: black dotted 30px;
    border-left: green solid 10px;
    
    border: solid green 10px;
    margin-top: 1000px;*/
   
}




/*
p{
    color:red;
}
h1{
    color:aqua;
}
ol{
    color:crimson;
}
li{
    color:aqua;
}
ul{
    color:saddlebrown;
}
body{
    background:rebeccapurple;
}
strong{
    color:aqua;
    background: pink;
}
p{
    color:aqua;
    background: pink;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
em{
    color:forestgreen;
    background: violet;
}
h2{
    color:yellow;
    background-color: green;
    font-size: 50px;

}
p{
    color:yellow;
    background:;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}*/

/*
div{
    background-color:crimson;
    height: 100px;
    width: 200px;  
    margin: 0px auto;
  
}
p{
    background-color: green;
   margin: 0px;
}
h1{
    background-color: yellow;
   margin: 0px;
}
body{
    margin: 0px;
    background-color: blue;
    width: 300px;
    margin: 0px auto;
    height: 600px;
}
html{
    background-color:pink;
   margin: 0px;
  
}*/
