p{
    background-color:#B84B9E;
    color:black;
    border: 3px solid #4CAF50;
    padding: 5px;   
    white-space: 200px 
}
#fondo{
    background-image: url(../img/glitch.png);
    border:1px solid palevioletred;
    background-color: powderblue;
  }
.limpiar{
      clear: right;;
  }

h2{
    border-style: ridge;
    border-width: 7px;
    border-color: coral;
    color:#93228D;
    font: bold 20px monospace;
}
.header {
    background-color: #FF6EB0;
    padding: 10px;
    text-align: center;
}
.right {
    position: absolute;
    right: 10px;
    width: 800px;
    border: 3px solid purple;
    padding: 60px;
  
}

h1{
    border-style: solid;
    border-bottom-color:maroon;
}
strong{
    color: maroon;
}
