#fondo2{
    background-image: url(../img/white-wood.jpg);
    border:1px solid palevioletred;
  }
h2{
color: palevioletred;
}
body{
    background-color: orchid;
}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}